
{:source-paths ["src"]
 :dependencies [[respo/router "0.4.0"]]
 :builds {:app {:target :node-script
                :output-to "target/main.js"
                :main skir.app.main/main!
                :devtools {:after-load skir.app.main/reload!}}}}
